<table style="width: 100%; margin: 0 auto; text-align: center;">
    <caption style="caption-side: bottom; text-align: center; font-weight: bold; padding: 10px 0;">
        Team Metrics: Each team's ELO and their Last 10 Game Plus-Minus. These stats in addition to the Home/Away team for a 
        given matchup are used to calculate fair odds by the model. Metrics were calculated from data on NBA's website.
    </caption>
    <thead style="text-align: center;">
        <tr>
            <th>Team</th>
            <th>ELO</th>
            <th>Last 10 Game Plus-Minus</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>BOS</td>
            <td>1751.5</td>
            <td>125</td>
        </tr>
        <tr>
            <td>DEN</td>
            <td>1663.3</td>
            <td>88</td>
        </tr>
        <tr>
            <td>DAL</td>
            <td>1663.0</td>
            <td>85</td>
        </tr>
        <tr>
            <td>LAL</td>
            <td>1637.2</td>
            <td>93</td>
        </tr>
        <tr>
            <td>MIN</td>
            <td>1635.0</td>
            <td>89</td>
        </tr>
        <tr>
            <td>PHX</td>
            <td>1630.1</td>
            <td>64</td>
        </tr>
        <tr>
            <td>GSW</td>
            <td>1604.4</td>
            <td>81</td>
        </tr>
        <tr>
            <td>OKC</td>
            <td>1597.5</td>
            <td>-19</td>
        </tr>
        <tr>
            <td>LAC</td>
            <td>1572.7</td>
            <td>6</td>
        </tr>
        <tr>
            <td>IND</td>
            <td>1558.2</td>
            <td>63</td>
        </tr>
        <tr>
            <td>ORL</td>
            <td>1555.9</td>
            <td>68</td>
        </tr>
        <tr>
            <td>NOP</td>
            <td>1552.0</td>
            <td>-2</td>
        </tr>
        <tr>
            <td>SAC</td>
            <td>1551.9</td>
            <td>24</td>
        </tr>
        <tr>
            <td>NYK</td>
            <td>1537.5</td>
            <td>63</td>
        </tr>
        <tr>
            <td>MIA</td>
            <td>1535.3</td>
            <td>82</td>
        </tr>
        <tr>
            <td>HOU</td>
            <td>1528.9</td>
            <td>17</td>
        </tr>
        <tr>
            <td>MIL</td>
            <td>1517.8</td>
            <td>18</td>
        </tr>
        <tr>
            <td>ATL</td>
            <td>1516.1</td>
            <td>10</td>
        </tr>
        <tr>
            <td>CHI</td>
            <td>1513.3</td>
            <td>22</td>
        </tr>
        <tr>
            <td>PHI</td>
            <td>1498.5</td>
            <td>21</td>
        </tr>
        <tr>
            <td>CLE</td>
            <td>1488.9</td>
            <td>-80</td>
        </tr>
        <tr>
            <td>BKN</td>
            <td>1410.5</td>
            <td>-24</td>
        </tr>
        <tr>
            <td>SAS</td>
            <td>1393.5</td>
            <td>-20</td>
        </tr>
        <tr>
            <td>MEM</td>
            <td>1380.0</td>
            <td>-86</td>
        </tr>
        <tr>
            <td>POR</td>
            <td>1313.0</td>
            <td>-111</td>
        </tr>
        <tr>
            <td>UTA</td>
            <td>1309.9</td>
            <td>-150</td>
        </tr>
        <tr>
            <td>CHA</td>
            <td>1296.6</td>
            <td>-126</td>
        </tr>
        <tr>
            <td>TOR</td>
            <td>1281.2</td>
            <td>-198</td>
        </tr>
        <tr>
            <td>WAS</td>
            <td>1276.8</td>
            <td>-42</td>
        </tr>
        <tr>
            <td>DET</td>
            <td>1251.8</td>
            <td>-128</td>
        </tr>
    </tbody>
</table>
